.element0 {
  width: 200px;
  margin: 0 auto;
  cursor: pointer;
}
.element0:hover {
  text-decoration: line-through;
}
.warp {
  max-width: 960px;
  width: 300px;
  display: flex;
  padding-top: 100px;
  align-items: flex-start;
  flex-direction: column;
}

.search {
  margin: 0 auto;
  border: 1px solid black;
}

.circle {
  margin-right: 20px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  border: 2px solid black;
  transition: 0.2s ease-in;
}
.circle:hover {
  background: rgb(235, 235, 235);
}
.line {
  border-top: 1px dashed #000;
  height: 18px;
}
.section {
  height: 100vh;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
}
